{
  "plugins": [
    ["@babel/plugin-transform-flow-strip-types"],
    ["@babel/plugin-proposal-class-properties"]
  ]
  // "assumptions": {
  //   "setPublicClassFields": false,
  //   "privateFieldsAsProperties": true
  // }
}
